<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Final Marked</title>
  {meta}
  <link rel="stylesheet" type="text/css" href="../bower_components/highlight/build/browser/demo/styles/tomorrow-night-bright.css" />
  <style type="text/css">
    ul.toc{
      list-style: none;
      border: 1px solid #ccc;
      padding: 1.5em;
      width: 50%;
      border-radius: 1em;
    }
    span.tree-indent{
      margin-left:1.5em;
    }
    code.inline-code{
      border-radius: 5px;
      padding: 3px;
      background-color: #eee;
    }

  </style>
</head>
<body>
	{content}
</body>
  <script type="text/javascript" src="../bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              //displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
              //processEscapes: false,
              skipTags: ['script', 'noscript', 'style', 'textarea','code']
          }
      });
  </script>

</html>




